.MenuTitle{
    font-size:medium;
    margin-right: 20px;
}
.mat-sidenav {
    background-color :#3F51B5;
    width: 160px;
}
.mat-toolbar {
    height:60px;
}
.side-nav-items{
    display: flexbox;
    flex-direction: column;
}
/* Add these styles to your app.component.css file */
.search-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-input {
  display: none;
  padding: 5px;
  border: none;
  border-radius: 5px;
  width: 200px;
  font-size: 16px;
}

.search-input.show {
  display: block;
}

.side-menu-item{
    color:white !important;
    margin-top: 20px;
}
@media (min-width: 900px) {
        #menuicon{
            display:none;
            
        }
        .mat-sidenav {
            display: none;
        }

        }
        .main-content{
         margin: 20px;   
        }
        
@media (max-width: 900px) {
    .top-menu-item{
          display:none;
                
            }
            } 