<!DOCTYPE html>
<html>
<head>
    <title>Home Content</title>
    <link rel="stylesheet" type="text/css" href="home.component.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Our Home</h1>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius consequat arcu, sed facilisis sapien. Nulla ultricies lacus augue, at pulvinar urna ultricies at.</p>
        
        <div class="feature">
            <img src="image1.jpg" alt="Feature 1">
            <h3>Feature 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        
        <div class="feature">
            <img src="image2.jpg" alt="Feature 2">
            <h3>Feature 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        
        <div class="feature">
            <img src="image3.jpg" alt="Feature 3">
            <h3>Feature 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        
        <a href="#" class="cta-button">Learn More</a>
    </div>
</body>
</html>
